* {
    padding: 0;
    margin: 0;
}

body {
    color: #444;
    font-family: sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: rgb(224, 187, 91);
}

.main-header {
    background-color: rgb(248, 236, 220);
    border-top: 3px solid rgb(88, 88, 88);
    border-bottom: 3px solid rgb(88, 88, 88);
    padding: 20px;
    padding: 20px 40px;
    margin-bottom: 50px;
    height: 80px;
}

.post-header {
    margin-bottom: 40px;
}

article {
    margin-bottom: 60px;
}

aside {
    background-color: rgb(248, 236, 220);
    border-top: 3px solid rgb(88, 88, 88);
    border-bottom: 3px solid rgb(88, 88, 88);
    padding: 50px 0;
    width: 500px;
}

h1,
h2,
h3 {
    color: blue;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 22px;
    line-height: 1.5;
    text-decoration: none;
    margin-bottom: 15px;
}

ul,
ol {
    margin-left: 50px;
    margin-bottom: 20px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

.post-image {
    width: 800px;
    height: auto
}

li:last-child {
    margin-bottom: 0;
}

#author {
    font-size: 16px;
    font-style: italic;
}

#copyright {
    font-size: 16px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style: none;
}

a:link {
    text-decoration: none;
    color: blue
}

a:hover {
    color: brown;
    text-decoration: underline;
    font-weight: bold;
}

a:active {
    background-color: yellow;
    font-style: italic;
}